.general {
   width: 10%;
   padding: 0 0 0 3px; // makes the space between outcome buttons 3px

   .wrapper {
      display: flex;
   }
}

@media (max-width: 480px) {
   .general {
      width: 17%;
   }
}
