@import '~kambi-widget-core-library/src/scss/core.scss';

:local(.general) {
   width: 10%;
   padding: 0;
   padding-left: 3px; // makes the space between outcome buttons 3px

   .wrapper {
      display: flex;
   }
}

@media (max-width: 480px) {
   :local(.general) {
      width: 17%;
   }
}
