.kw-body {
   background-color: transparent;
}

header {
   border-bottom-color: $color-4-1-card-border;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   color: $color-4-2-card-supportive-text;
   font-size: 14px;
   line-height: 24px;
   min-height: 47px;

   [data-item-attr="position"] {
      @include flex(7);
   }

   [data-item-attr="participantName"] {
      visibility: hidden;
      @include flex(1);
   }
}

.kw-table-item {
   border-bottom: 1px solid $color-4-1-card-border;
   height: 45px;
   line-height: 24px;
   min-height: 45px;

   &:hover {
      background-color: $color-4-1-card-background-hover;
   }

   [data-item-attr="participantName"] {
      @include flex(7);
   }
}

.kw-table-date {
   background-color: white;
}

[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-ss;
}

[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-xs;
}

[data-item-attr="wins"],
[data-item-attr="draws"],
[data-item-attr="losses"],
[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-xss;
}

[data-item-attr="gamesPlayed"],
[data-item-attr="points"],
[data-item-attr="wins"],
[data-item-attr="draws"],
[data-item-attr="losses"],
[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"],
[data-item-attr="goalsDifference"] {
   text-align: center;
}
