.kw-body {
   background-color: transparent;
   padding: 16px;

   @media screen and (max-width: $screen-xs) {
      padding: 0 3px;
   }
}

.kw-table-header {
   background-color: white;
   border-bottom: 1px solid darken($color-4-1-card-border, 11%);
   color: $color-4-2-card-supportive-text;
   font-size: 14px;
   min-height: 44px;

   [data-item-attr="position"] {
      @include flex(7);
   }

   [data-item-attr="participantName"] {
      visibility: hidden;
      @include flex(1);
   }

}

.kw-table-item {
   border-bottom: 1px solid $color-4-1-card-border;
   height: 45px;

   &:hover {
      background-color: $color-4-1-card-background-hover;
   }
}

.kw-table-item {
   [data-item-attr="participantName"] {
      @include flex(7);
   }
}

[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-ss;
}

[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-xs;
}

[data-item-attr="wins"],
[data-item-attr="draws"],
[data-item-attr="losses"],
[data-item-attr="goalsFor"],
[data-item-attr="goalsAgainst"] {
   @extend .hidden-xss;
}
