:local(.general) {
   display: inline-block;
}

:local(.button) {
   background: none;
   border: none;
   color: #999;
   outline: none;
   padding: 5px 0 5px 5px;
   position: relative;

   i {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #999;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 1px;
   }
}

:local(.dropDown) {
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
   list-style: none;
   margin: 4px;
   padding: 0;
   background: #fff;
   border-radius: 2px;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   min-width: 280px;
   text-align: left;

   li {
      font-size: 16px;
      padding: 17px 16px;
      line-height: 20px;
      color: #999;
      cursor: pointer;

      &:hover {
         background-color: #e6e6e6;
      }

      &.selected {
         color: #13bed3;
      }
   }

   @media (max-width: 480px) {
      & {
         left: 0;
      }
   }
}
