:local(.general) {
   background: none;
   border: none;
   color: #999;
   outline: none;
   padding: 0;

   i {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #999;
      display: inline-block;
      margin-left: 5px;
   }
}
