:local(.circle) {
   border-radius: 50%;
   background: transparent;
   width: 22px;
   height: 22px;
   display: inline-block;
   line-height: 21px;
   text-align: center;
   font-size: 12px;

   &.green {
      color: #fff;
      background: #719D45;
   }

   &.light-green {
      color: #fff;
      background: #8CC354;
   }

   &.orange {
      color: #fff;
      background: #F5A623;
   }

   &.light-orange {
      color: #fff;
      background: #f5c52a;
   }

   &.light-red {
      color: #fff;
      background: #ff6f5c;
   }

   &.red {
      color: #fff;
      background: #FF3A52;
   }

   &.transparent {
      background: transparent;
   }
}
