.cell {
   font-weight: normal;
   font-size: 12px;
   height: 36px;

   &:first-child {
      padding-left: 16px;
   }

   &.title {
      text-align: left;
   }

   &.margin {
      width: 16px;
   }
}
