//Main scss file

//Included variables, mixins and layout
@import '~widget-core-library/dist/scss/core.scss';

//Included widget related styles
@import 'widget/responsive';
@import 'widget/variables';
@import 'widget/general';
@import 'widget/widget-theme';
@import 'widget/layout';
