.triangle {
   margin: 0 10px 0 12px;
   display: inline-block;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;

   &.up {
      border-bottom: 10px solid #B8E986;
   }

   &.down {
      border-top: 10px solid #FF3A52;
   }
}
